<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="customer/layout :: head">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <style>
            body {
                background-image: url("https://i.pinimg.com/originals/86/41/6d/86416d71cbd1e608a5304bb92fc235ea.png");
            }

            table {
                border: solid 3px;
            }

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
<body>
<div th:replace="~{/home::header}"></div>
<h2 class="text-center fw-bold">Danh sách khách hàng</h2>
<nav class="navbar navbar-expand-lg py-0 my-0">
    <div class="container-fluid">
        <a th:href="@{/customer/create}">
            <button class="btn btn-success btn-outline-secondary btn-sm">
                <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span>
                <span class="text-light">Thêm mới khách hàng</span>
            </button>
        </a>

        <form th:action="@{customer}" class="d-flex my-2" role="search" method="get">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</nav>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id="employeeTable" class="table table-light table-striped table-bordered">
    <thead>
    <tr class="table-dark text-light">
        <th>#</th>
        <th>Tên khách hàng</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
<!--        <th>Số CMND</th>-->
        <th>Số điện thoại</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <!--        <th>customerType</th>-->
        <th>Actions</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="row, i : ${customerList}">
        <td th:text="${i.count} + 5 * ${customerList.number}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.birthday}"></td>
        <td th:if="${row.gender == 0} " th:text="Male"></td>
        <td th:if="${row.gender == 1} " th:text="Female"></td>
        <td th:if="${row.gender == 2} " th:text="LGBT"></td>
<!--        <td th:text="${row.idCard}"></td>-->
        <td th:text="${row.numberPhone}"></td>
        <td th:text="${row.email}"></td>
        <td th:text="${row.address}"></td>
        <!--        <td th:text="${row.customerType.name}"></td>-->
        <td>
            <a th:href="@{/customer/{id}/edit(id=${row.id})}">
                <button class="btn btn-primary btn-outline-secondary btn-sm">
                    <span class="fa-solid fa-user-pen text-light h6 m-auto px-2"></span>
                </button>
            </a>
        </td>
        <!--        <td><a th:href="@{/{id}/delete(id=${row.getId()})}">delete</a></td>-->
        <td>
            <a th:href="'#a' + ${row.id}" data-bs-toggle="modal">
                <button class="btn btn-danger btn-outline-secondary btn-sm">
                    <span class="fa-solid fa-person-circle-minus text-light h6 m-auto px-2"></span>
                </button>
            </a>

            <div class="modal fade" th:id="a + ${row.id}" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form action="#" th:action="@{/customer/delete}"
                          method="POST">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Thông báo !</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Bạn có muốn xóa
                                <span class="text-info" th:text="${row.name}"></span>
                                <input type="hidden" th:value="${row.id}" name="id">
                                ?
                            </div>
                            <div class="row">
                                <div class="col-lg-7">
                                    <button type="submit" class="btn btn-outline-success"
                                            style="width: 80px; transform: translateX(200px)">Có
                                    </button>
                                </div>
                                <div class="col-lg-5">
                                    <button type="button" class="btn btn-secondary center-pill" data-bs-dismiss="modal"
                                            style="width: 80px; transform: translateX(40px)">Không
                                    </button>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </td>


    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/customer'(page=${customerList.number - 1},name=${name})}" th:if="${customerList.hasPrevious()}">Previous</a>
    <span th:text="${customerList.number + 1}"></span>/<span th:text="${customerList.totalPages}"></span>
    <a th:href="@{'/customer'(page=${customerList.number + 1},name=${name})}" th:if="${customerList.hasNext()}">Next</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>