<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="category/layout :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Thêm mới Category</h3>

<p style="transform: translateX(10px)">
    <a th:href="@{/category}">
        <button class="btn btn-info">
            Về trang danh sách Category
        </button>
    </a>
</p>
<form action="/category/save" method="post" th:object="${category}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
    </table>

    <button type="submit" style="transform: translateX(10px)">Save</button>
</form>
<footer th:replace="category/layout :: footer"></footer>
</body>
</html>