<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="facility/layout :: head">
<body>
<div th:replace="~{/home::header}"></div>
<h2 class="text-center fw-bold">Thêm mới dịch vụ</h2>
<div class="d-flex justify-content-center">
    <form class="w-50 border border-2 border-success p-3 bg-light rounded" th:action="@{/facility/save}"
          th:object="${facilityDto}"
          method="POST" novalidate="novalidate">

        <input type="hidden" th:field="*{id}"/>

        <div class="mt-3 form-group">
            <label class="h6">Loại dịch vụ:</label>
            <div class="input-group">
                <select class="form-select" th:field="*{facilityType}" onchange="facilitys(this.value)">
                    <option th:each="item:${facilityTypeList}" th:text="${item.name}"
                            th:value="${item.id}"></option>
                </select>
                <span class="input-group-text"><i class="fa-solid fa-map"></i></span>
            </div>
        </div>

        <div class="form-group">
            <label class="h6">Tên dịch vụ:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập tên dịch vụ" th:field="*{name}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="form-group">
            <label class="h6">Diện tích sử dụng:</label>
            <div class="input-group">
                <input type="number" class="form-control" placeholder="Nhập diện tích sử dụng" th:field="*{area}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></span>
        </div>

        <div class="form-group">
            <label class="h6">Chi phí thuê:</label>
            <div class="input-group">
                <input type="number" class="form-control" placeholder="Nhập chi phí thuê" th:field="*{cost}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></span>
        </div>

        <div class="form-group">
            <label class="h6">Số người tối đa:</label>
            <div class="input-group">
                <input type="number" class="form-control" placeholder="Nhập số người tối đa" th:field="*{maxPeople}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('maxPeople')}" th:errors="*{maxPeople}"></span>
        </div>


        <div class="form-group villa house">
            <label class="h6">Tiêu chuẩn phòng:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập tiêu chuẩn phòng" th:field="*{standardRoom}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('standardRoom')}" th:errors="*{standardRoom}"></span>
        </div>

        <div class="form-group villa house">
            <label class="h6">Mô tả tiện nghi khác:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập mô tả" th:field="*{descriptionOtherConvenience}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('descriptionOtherConvenience')}" th:errors="*{descriptionOtherConvenience}"></span>
        </div>

        <div class="form-group villa">
            <label class="h6">Diện tích hồ bơi:</label>
            <div class="input-group">
                <input type="number" class="form-control" placeholder="Nhập diện tích hồ bơi" th:field="*{poolArea}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}"></span>
        </div>

        <div class="form-group villa house">
            <label class="h6">Số tầng:</label>
            <div class="input-group">
                <input type="number" class="form-control" placeholder="Nhập số tầng" th:field="*{numberOfFloors}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('numberOfFloors')}" th:errors="*{numberOfFloors}"></span>
        </div>

        <div class="form-group room">
            <label class="h6">Dịch vụ miễn phí đi kèm:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập dịch vụ miễn phí đi kèm" th:field="*{facilityFree}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('facilityFree')}" th:errors="*{facilityFree}"></span>
        </div>

        <div class="mt-3 form-group">
            <label class="h6">Kiểu thuê:</label>
            <div class="input-group">
                <select class="form-select" th:field="*{rentType}">
                    <option th:each="item : ${rentTypeList}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
                <span class="input-group-text"><i class="fa-solid fa-map"></i></span>
            </div>
        </div>

        <div class="mt-3 text-center">
            <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark">
                -- Lưu <i class="fa-solid fa-floppy-disk"></i> --
            </button>
        </div>
    </form>
</div>
<script>
    function facilitys(id) {
        house = document.getElementsByClassName("house");
        room = document.getElementsByClassName("room");
        villa = document.getElementsByClassName("villa");
        for (let i = 0; i < house.length; i++) {
            house[i].style.display = "none";
        }
        for (let i = 0; i < room.length; i++) {
            room[i].style.display = "none";
        }
        for (let i = 0; i < villa.length; i++) {
            villa[i].style.display = "none";
        }
        if (id == 1) {
            for (let i = 0; i < villa.length; i++) {
                villa[i].style.display = "block";
            }
        } else if (id == 2) {
            for (let i = 0; i < house.length; i++) {
                house[i].style.display = "block";
            }
        } else {
            for (let i = 0; i < room.length; i++) {
                room[i].style.display = "block";
            }
        }
    }
</script>
<th:block th:replace="home::jscommon"></th:block>
<footer th:replace="facility/layout :: footer"></footer>

</body>
</html>
