<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="employee/layout :: head">
<body>
<div th:replace="~{/home::header}"></div>
<h2 class="text-center fw-bold">Thêm mới nhân viên</h2>
<div class="d-flex justify-content-center">
    <form class="w-50 border border-2 border-success p-3 bg-light rounded" th:action="@{/employee/save}"
          th:object="${employeeDto}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label class="h6">Tên nhân viên:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập tên" th:field="*{name}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="mt-3 form-group">
            <label class="h6">Ngày sinh:</label>
            <input type="date" class="form-control" th:field="*{birthday}">
            <span style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
        </div>


        <div class="mt-3 form-group">
            <label class="h6">Số CMND:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập số CMND/Căn cước" th:field="*{idCard}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></span>
        </div>


        <div class="mt-3 form-group">
            <label class="h6">Lương:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập lương" th:field="*{salary}">
            </div>
        </div>

        <div class="mt-3 form-group">
            <label class="h6">Số điện thoại:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập số điện thoại" th:field="*{numberPhone}"/>
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}"></span>
        </div>


        <div class="mt-3 form-group">
            <label class="h6">Email:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập email" th:field="*{email}">
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>

        <div class="mt-3 form-group">
            <label class="h6">Địa chỉ:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập địa chỉ" th:field="*{address}"/>

            </div>
            <span style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
        </div>

        <div class="mt-3 form-group">
            <label class="h6">Chức vụ:</label>
            <div class="input-group">
                <select th:field="*{position}" class="form-control">
                        <option th:each="item : ${positionList}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
                <span class="input-group-text"><i class="fa-solid fa-map"></i></span>
            </div>
        </div>

        <div class="mt-3 form-group">
            <label class="h6">Phòng ban:</label>
            <div class="input-group">
                <select th:field="*{division}" class="form-control">
                    <option th:each="item : ${divisionList}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
                <span class="input-group-text"><i class="fa-brands fa-creative-commons-nd"></i></span>
            </div>
        </div>

        <div class="mt-3 form-group">
            <label class="h6">Trình độ:</label>
            <div class="input-group">
                <select th:field="*{educationDegree}" class="form-control">
                    <option th:each="item : ${educationDegreeList}" th:value="${item.id}"
                            th:text="${item.name}"></option>
                </select>
                <span class="input-group-text"><i class="fa-solid fa-graduation-cap"></i></span>
            </div>
        </div>

        <div class="mt-3 text-center">
            <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark">
                -- Lưu <i class="fa-solid fa-floppy-disk"></i> --
            </button>
        </div>
    </form>
</div>
<th:block th:replace="home::jscommon"></th:block>
<footer th:replace="employee/layout :: footer"></footer>

</body>
</html>
